td, th {
    border: 0.1vh solid white;
}
table {
    width: 80vw;
    margin: 0;
    padding: 0;
    border-spacing:0; 
    border-collapse: collapse;
}
input {
    width: 3vw;
}
tr:hover {
    background-color: gray;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form:nth-child(2) {
    flex-direction: column;
}
form:nth-child(2) > button {
    margin-top: 2vh;
}
button {
    font-family: Ogonek-Regular;
    letter-spacing: 0.1vw;
    font-size: 1.5vh;
    border: none;
    min-width: 8vw;
    min-height: 5vh;
    padding: 0.5vh 0.5vw;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
select {
    margin-right: 1vw;
    font-size: 2vh;
}
#temp {
    margin-top: 2vh;
}
#temp > tbody > tr > td > input {
    width: 2.5vw;
}
#temp > tbody > tr > th {
    padding: 0vh 1.3vw;
}
td, th, input {
    font-size: 2vh;
}
button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}