body {
    margin: 0 auto;
}
.intro {
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: auto;
    display: flex;
}
.intro > .background > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -29.7vh;
    z-index: -1;
}
.container {
    background-color: black;
    width: 100%;
    min-height: 200px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.form {
    font-family: Avenir;
    margin-top: -50vh;
    width: 80vw;
    height: 50vh;
    border-radius: 0.5vw;
}
.form > h1 {
    font-size: 5vh;
}
form > h2 {
    font-size: 3vh;
    margin-bottom: 0;
}
form > p {
    font-family: Ogonek-Regular;
    font-size: 1.8vh;
}
form > .buttons > button:nth-child(1) {
    background: transparent linear-gradient(120deg, #c04a4a 0%, #f61011 100%) 0% 0% no-repeat padding-box;
}
form > .buttons > button:nth-child(2) {
    background: transparent linear-gradient(120deg, #ffa600 0%, #ff4f00 100%) 0% 0% no-repeat padding-box;
}
form > .buttons > button:nth-child(3) {
    background: transparent linear-gradient(120deg, #ffde00 0%, #ffb600 100%) 0% 0% no-repeat padding-box;
}
form > .buttons > button:nth-child(4) {
    background: transparent linear-gradient(120deg, #229e03 0%, #7ffa00 100%) 0% 0% no-repeat padding-box;
}
form > .buttons > button:nth-child(5) {
    background: transparent linear-gradient(120deg, #229e03 0%, #115700 100%) 0% 0% no-repeat padding-box;
}
form > .buttons > button {
    font-family: Ogonek-Regular;
    font-size: 1.7vh;
    border: none;
    border-radius: 0.5vw;
    width: 9vw;
    height: 5vh;
    margin: 1vh 0.5vw;
    background-size: 200% auto !important;
    transition: background-position 0.5s;
}
form > .buttons > button:hover {
    background-position: right center;
}
form > .range > input[type=range] {
    width: 15vw;
    margin-top: 2vh;
    background-repeat: no-repeat;
    border-radius: 1vh;
} 
form > .range > label {
    font-size: 4vh;
    padding: 0;
}
form > .range > label:nth-child(1) {
    color: #fdc85f;
}
form > .range > label:nth-child(3) {
    color: #eb3e65;
}
form > .range > output {
    position: absolute;
    font-size: 2.5vh;
    margin-top: 5vh;
    padding: 0.2vh 0.3vw 0.05vh 0.3vw;
    border-radius: 1vh;
}

input[type=range].styled-slider {
    -webkit-appearance: none;
}
/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1.5vh + var(--ratio) * (100% - 1.5vh));
}
  
/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 5vh;
    background: #EB3E65;
    border: none;
    box-shadow: 0 0 2px #000000;
    margin-top: calc(2.5vh * 0.5 - 2.5vh * 0.5);
}
input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 2.5vh;
    border: none;
    border-radius: 25vh;
    background: #FFFFFF00;
    box-shadow: none;
}
input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #FDC85F, #EB3E65) 0/var(--sx) 100% no-repeat, #FFFFFF00;
}
  
/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 5vh;
    background: #EB3E65;
    border: none;
    box-shadow: 0 0 2px #000000;
}
input[type=range].styled-slider::-moz-range-track {
    height: 2.5vh;
    border: none;
    border-radius: 25vh;
    background: #FFFFFF00;
    box-shadow: none;
}
input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(to right, #FDC85F, #EB3E65) 0/var(--sx) 100% no-repeat, #FFFFFF00;
}
  
/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}
input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}
input[type=range].styled-slider::-ms-thumb {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 5vh;
    background: #EB3E65;
    border: none;
    box-shadow: 0 0 2px #000000;
    margin-top: 0;
    box-sizing: border-box;
}
input[type=range].styled-slider::-ms-track {
    height: 2.5vh;
    border-radius: 25vh;
    background: #FFFFFF00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}
input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 2.5vh;
    border-radius: 50vh 0 0 50vh;
    margin: -undefined 0 -undefined -undefined;
    background: linear-gradient(to right, #FDC85F, #EB3E65);
    border: none;
    border-right-width: 0;
}
  